# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [5]:
chipo = pd.read_csv('C:/Users/Wu yusen/Documents/PandasExerciseFile/chipotle.tsv',sep='\t')

### Step 4. See the first 10 entries

In [6]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [7]:
# Solution 1
chipo.shape[0]

4622

In [9]:
# Solution 2
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

### Step 6. What is the number of columns in the dataset?

In [12]:
print(chipo.shape[1])
len(chipo.columns)

5

5

### Step 7. Print the name of all the columns.

In [13]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [14]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [33]:
c = chipo.groupby('item_name').sum()
c = c.sort_values('quantity',ascending=False)
c.iloc[0].name

'Chicken Bowl'

In [36]:
c.head()

                     order_id  quantity
item_name
Chicken Bowl           713926       761
Chicken Burrito        497303       591
Chips and Guacamole    449959       506
Steak Burrito          328437       386
Canned Soft Drink      304753       351

### Step 10. For the most-ordered item, how many items were ordered?

In [37]:
c['quantity'][0]

761

### Step 11. What was the most ordered item in the choice_description column?

In [54]:
o = chipo.groupby('choice_description').sum()
o = o.sort_values('quantity',ascending=False)
maxdescription = o.index[0]
maxdescription
s = chipo.loc[chipo['choice_description']==maxdescription]
s['item_name'].unique()

array(['Canned Soda', '6 Pack Soft Drink', 'Canned Soft Drink'],
      dtype=object)

### Step 12. How many items were orderd in total?

In [55]:
chipo['quantity'].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [63]:
chipo.item_price.dtype

dtype('float64')

#### Step 13.b. Create a lambda function and change the type of item price

In [64]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url,sep='\t')
tofloat = lambda x: float(x[1:])
chipo.item_price = chipo.item_price.apply(tofloat)

#### Step 13.c. Check the item price type

In [67]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [75]:
chipo.head()
totalrevenue = (chipo['quantity'] * chipo['item_price']).sum()
print("The total revenue is $"+ str(np.round(totalrevenue,2)))

The total revenue is $39237.02

39237.02

### Step 15. How many orders were made in the period?

In [79]:
chipo.head()
len(chipo.order_id.unique())

1834

In [82]:
chipo.order_id.value_counts().count()

1834

In [84]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

### Step 16. What is the average revenue amount per order?

In [88]:
# Solution 1
ordernum = chipo.order_id.value_counts().count()
TotalRevenue = (chipo.quantity* chipo.item_price).sum()
AverRev = TotalRevenue/ordernum
np.round(AverRev,2)

21.39

In [90]:
# Solution 2
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
chipo.groupby('order_id').sum().mean()

quantity       2.711014
item_price    18.811429
revenue       21.394231
dtype: float64

In [91]:
chipo.groupby('order_id').sum()

          quantity  item_price  revenue
order_id
1                4       11.56    11.56
2                2       16.98    33.96
3                2       12.67    12.67
4                2       21.00    21.00
5                2       13.70    13.70
6                2       17.50    17.50
7                2       15.70    15.70
8                2       10.88    10.88
9                3       10.67    12.85
10               2       13.20    13.20
11               2       12.38    12.38
12               2       14.37    14.37
13               2       10.88    10.88
14               2       10.08    10.08
15               2       10.88    10.88
16               2       10.68    10.68
17               2       10.08    10.08
18               4       24.90    24.90
19               2       13.90    13.90
20               4       36.20    36.20
21               3       23.36    23.36
22               2       12.98    12.98
23               3       11.17    13.35
24               2       12.07    12.07
25               2       11.38    11.38
26               2       20.50    20.50
27               2       13.90    13.90
28               4       33.70    33.70
29               2       17.98    17.98
30               3       23.36    23.36
...            ...         ...      ...
1805             2       20.00    20.00
1806             4       13.00    13.00
1807             2       18.64    18.64
1808             2       13.70    13.70
1809             3       14.45    14.45
1810             2       23.00    23.00
1811             3       29.25    29.25
1812             4       22.50    25.00
1813             2       17.50    35.00
1814             2       13.70    13.70
1815             2       12.50    12.50
1816             2       13.20    13.20
1817             4       13.00    13.00
1818             2       18.14    18.14
1819             2       13.20    13.20
1820             2       12.50    12.50
1821             2       13.70    13.70
1822             4       23.00    26.00
1823             3       12.15    12.15
1824             3       26.95    26.95
1825             6       66.50    66.50
1826             4       15.95    15.95
1827             5       32.95    32.95
1828             3       14.45    14.45
1829             3       24.25    24.25
1830             2       23.00    23.00
1831             3       12.90    12.90
1832             2       13.20    13.20
1833             2       23.50    23.50
1834             3       28.75    28.75

[1834 rows x 3 columns]

### Step 17. How many different items are sold?

In [92]:
chipo.loc[chipo['item_name'] == 'Chicken Bowl']

,order_id,quantity,item_name,choice_description,item_price,revenue
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",8.75,8.75
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",8.49,8.49
42,20,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.25,11.25
76,34,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",8.75,8.75
78,34,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75,8.75
99,44,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",8.75,8.75
110,49,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",8.75,8.75
123,54,1,Chicken Bowl,"[Fresh Tomato Salsa, [Guacamole, Cheese, Sour ...",11.25,11.25
138,62,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",11.25,11.25
140,63,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Sour Crea...",11.25,11.25
142,64,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
154,70,2,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",17.50,35.00
160,73,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",8.49,8.49
176,79,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",10.98,10.98
182,82,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",8.75,8.75
193,86,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",8.75,8.75
199,89,1,Chicken Bowl,"[[Roasted Chili Corn Salsa (Medium), Tomatillo...",10.98,10.98
206,92,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Cheese, Lettuce]]",8.75,8.75
209,93,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.25,11.25
211,93,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.25,11.25
218,96,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",8.75,8.75
220,97,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",8.75,8.75
224,98,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Pinto Bea...",8.75,8.75
231,102,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75,8.75
252,110,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Cheese, Let...",8.75,8.75
257,111,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]",8.75,8.75
282,124,2,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",17.50,35.00
...,...,...,...,...,...,...
4443,1771,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Pinto Bea...",8.75,8.75
4444,1771,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",8.75,8.75
4465,1779,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]",8.75,8.75
4481,1786,1,Chicken Bowl,"[Fresh Tomato Salsa, Rice]",8.75,8.75
4483,1786,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",11.25,11.25
4484,1786,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
4486,1786,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.25,11.25
4488,1786,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75,8.75
4495,1788,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Sour ...",11.25,11.25
4498,1789,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",11.25,11.25
4506,1792,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream...",11.25,11.25
4511,1794,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Fajita Veget...",8.75,8.75
4532,1802,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",8.75,8.75
4537,1804,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75,8.75
4540,1805,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",11.25,11.25
4553,1810,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Sour ...",11.25,11.25
4555,1811,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
4564,1815,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
4574,1819,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Cheese, Lett...",8.75,8.75
4576,1820,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream...",11.25,11.25
4581,1822,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",8.75,8.75
4583,1823,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",8.75,8.75
4586,1824,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.25,11.25
4587,1824,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.25,11.25
4589,1825,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.25,11.25
4590,1825,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.25,11.25
4591,1825,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",8.75,8.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",8.75,8.75
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",8.75,8.75
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75,8.75

In [120]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url,sep='\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [121]:
chipo.choice_description.fillna('None',inplace=True)
chipo['Name&Description'] = chipo.item_name + chipo.choice_description

In [122]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,Name&Description
0,1,1,Chips and Fresh Tomato Salsa,None,$2.39,Chips and Fresh Tomato SalsaNone
1,1,1,Izze,[Clementine],$3.39,Izze[Clementine]
2,1,1,Nantucket Nectar,[Apple],$3.39,Nantucket Nectar[Apple]
3,1,1,Chips and Tomatillo-Green Chili Salsa,None,$2.39,Chips and Tomatillo-Green Chili SalsaNone
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,"Chicken Bowl[Tomatillo-Red Chili Salsa (Hot), ..."

In [124]:
itemsCount = chipo['Name&Description'].value_counts().count()
itemsCount

1871

In [126]:
chipo.choice_description.value_counts().count()

1044